<app-navbar></app-navbar>

<div class="profile-container">
  <div class="profile-card">
    <div class="profile-content">
      <div class="profile-picture">
        <i class="fa-solid fa-building-user fa-4x"></i>
      </div>
      <div class="profile-info">
        <h1 class="profile-name">Profile</h1>
        <p class="profile-position">Care Home Account</p>
        <p class="profile-placeholder">Profile details will be displayed here.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
